<div id="container">
  <div class="toolbar">
    <div><a [routerLink]="'/level'">
        <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
      </a>
    </div>
    <div>
      <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
    </div>
  </div>
  <div class="context">
    <div class="content">
      <div class="content1">{{chapter_title}}</div>
      <div class="section">
        <div class="content2">Warming Up With Essential Grammatical Terms</div>
        <div class="discription">
          <div style="height: 34.9vh; overflow: auto;">
            <div class="">
              <ul class="" style="list-style-type: none;">
                <li class="chapter_content" style="width: 80vw; font-size: 5vw;" [innerHTML]="html">
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div *ngIf="currentTutorial">
                <app-tutorial-details (refreshList)="refreshList()" [tutorial]="currentTutorial"></app-tutorial-details>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <a [routerLink]="'/quiz'" class="routerlink">
          <div class="mark">Mark As Done</div>
        </a>
        <div class="modal">

          <ion-img src="../../assets/img/Modal.png" alt=""></ion-img>
          <div class="arrow">
            <a [routerLink]="'/level'">
              <ion-img src="../../assets/img/modal-arrow-left.png"></ion-img>
            </a>
            <img class="outHome" src="../../assets/img/Vector (2).png">
            <a [routerLink]="'/quiz'">
              <ion-img src="../../assets/img/modal-arrow-right.png"></ion-img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>