#container {
    user-select: none;
    overflow: auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: 5vh;

    .toolbar {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24.5vh;

        .content {
            color: white;
            display: flex;
            flex-direction: column;
            gap: 8vh;

            .content1 {
                font-size: 13vw;

            }

            .content2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 15px 0 15px;
                gap: 15px;
                font-size: 6vw;
            }

            .section {
                display: flex;
                flex-direction: column;

                .quiz_content {
                    display: flex;
                    margin-left: 3vw;
                    width: 70vw;
                    text-align: left;
                    font-family:'Mohave';
                    letter-spcing:3px;
                    font-size:6vw
                }
            }

            .discription {
                margin-left: 7vw;
                display: flex;
                font-size: 4vw;

                .problemCheck {
                    display: flex;
                    width: 70vw;
                    margin-left: 5vw;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                /* Hide the browser's default checkbox */
                .problemCheck input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                /* Create a custom checkbox */
                .checkmark {
                    display: flex;
                    border-radius: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                }

                /* On mouse-over, add a grey background color */
                .problemCheck:hover input~.checkmark {
                    background-color: #ccc;
                }

                /* When the checkbox is checked, add a blue background */
                .problemCheck input:checked~.checkmark {
                    background-color: #05ECC2
                    ;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                .problemCheck input:checked~.checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .problemCheck .checkmark:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    // border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }

        .footer {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3.5vh;

            .mark {
                width: 70vw;
                font-size: 5vw;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 25px;
                background: #202224;
                box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 10px 10px 20px #000000;
                border-radius: 10px;
            }

            .modal {
                display: flex;
                justify-content: center;
                align-items: center;

                .arrow {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    gap: 124px;
                    margin-top: 5.0777vh;

                    .outHome {
                        margin-top: -4.49999vh;
                    }
                }
            }
        }
    }

}