<div id="container">
  <div class="toolbar">
    <div><a [routerLink]="'/level'">
        <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
      </a>
    </div>
    <div>
      <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
    </div>
  </div>
  <div class="context">
    <div class="content">
      <div class="content1">Your Score</div>
      <div class="section">
        <div class="content2">Warming Up With Essential Grammatical Terms</div>
        <div class="discription">
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
            ></apx-chart>
          </div>
          
        </div>
      </div>
    </div>
  
  </div>
</div>