* {
  user-select: none;
}
#container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .loginTxt {
    margin-top: 20%;
    font-family: "Mohave";
    font-style: normal;
    font-size: 2em;
    line-height: 5vh;
    color: #ffffff;
  }
  .engOwl {
    font-family: "Mohave";
    font-style: normal;
    font-size: 3.5em;
    /* identical to box height */

    background: linear-gradient(
      97.15deg,
      #2aad91 -1.3%,
      rgba(4, 252, 199, 0) 136.13%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .discription {
    margin-top: 1vh;
    font-family: "Mohave";
    font-style: normal;
    font-size: 1.3em;
    color: #ffffff;
  }

  .logogif {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    gap: 0px;
  }
  .bird {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    .img {
      width: 59%;
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
