<div id="container">
  <div>
    <div class="loginTxt">Welcome To</div>
    <div class="engOwl">English Owl</div>
    <div class="discription">The Ultimate English Grammar App</div>
    <div style="position: relative; justify-content: center; display: flex;">
      <ion-img
        class="logo"
        src="../../assets/img/EnglishOwlLogo[component_svg].png"
      ></ion-img>
      <div class="bird">
        <ion-img class="img"  src="../../assets/img/0.gif"></ion-img>
      </div>
    </div>
  </div>
</div>
