<div id="container">
  <div>
    <div class="toolbar">
      <div>
        <a [routerLink]="'/level'">
          <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
        </a>
      </div>
      <div>
        <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
      </div>
    </div>

    <div class="section">
      <div class="selectChapter">
        <div class="chapterbtn-group">
          <div class="chapterbtn">
            <div class="chapter">
              <div class="chapterTxt">Chapter 19</div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 20</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 21</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 22</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 23</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 24</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 25</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 26</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 27</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
       
        </div>
      </div>

      <div class="selectLevel">
        <div class="rookie">Slayer</div>
      </div>
    </div>
  </div>
</div>