<div id="container">
  <div>
    <div class="toolbar">
      <div>
        <a [routerLink]="'/level'">
          <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
        </a>
      </div>
      <div>
        <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
      </div>
    </div>

    <div class="section">
      <div class="selectChapter">
        <div class="chapterbtn-group">
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 10</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 11</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 12</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 13</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 14</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 15</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 16</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 17</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div style="width: 70%">
                <div class="chapterTxt" style="margin-left: 4vw;">Chapter 18</div>
              </div>
              <div style="width: 30%;">
                <img class="key" style="margin-left: 8.9vw;" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="selectLevel">
        <div class="rookie">Warrior</div>

      </div>
    </div>
  </div>
</div>