<div id="container">
  <div>
    <div class="toolbar">
      <div>
        <a [routerLink]="'/level'">
          <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
        </a>
      </div>
      <div>
        <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
      </div>
    </div>

    <div class="section">
      <div class="selectChapter">
        <div class="chapterbtn-group">
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 1')" class="routerlink">
            <div class="chapterbtn">
              <div class="chapter">
                <div class="chapterTxt">Chapter 1</div>
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 2')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 2</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 3')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 3</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 4')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 4</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 5')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 5</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 6')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 6</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 7')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 7</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 8')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 8</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
          <a [routerLink]="'/chapter'" (click)="retrieveTutorials('Chapter 9')" class="routerlink">
            <div class="chapterbtn" style="margin-top: 3vh">
              <div class="chapter">
                <div class="chapterTxt">Chapter 9</div>
                <img class="key" src="../../assets/img/lock.png" alt="" />
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="selectLevel">
        <div class="rookie">Rookie</div>

      </div>
    </div>
  </div>
</div>