<div id="container">
  <div>
    <div class="toolbar">
      <div>
        <a [routerLink]="'/level'">
          <img class="left" src="../../assets/img/Left Top Circle Button.png" alt="" />
        </a>
      </div>
      <div>
        <img class="right" src="../../assets/img/Right Top Circle Button.png" alt="" />
      </div>
    </div>

    <div class="section">
      <div class="selectChapter">
        <div class="chapterbtn-group">
          <div class="chapterbtn">
            <div class="chapter">
              <div class="chapterTxt">Chapter 28</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 29</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 30</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 31</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 32</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 33</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 34</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 35</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
          <div class="chapterbtn" style="margin-top: 3vh">
            <div class="chapter">
              <div class="chapterTxt">Chapter 36</div>
              <img class="key" src="../../assets/img/lock.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="selectLevel">
        <div class="rookie">Expert</div>

      </div>
    </div>
  </div>
</div>